In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('fraud_detection_csv.csv')

In [3]:
df.head(10)

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
0,1,PAYMENT,9839.64,C1231006815,170136.00,160296.36,M1979787155,0.0,0.00,0,0
1,1,PAYMENT,1864.28,C1666544295,21249.00,19384.72,M2044282225,0.0,0.00,0,0
2,1,TRANSFER,181.00,C1305486145,181.00,0.00,C553264065,0.0,0.00,1,0
3,1,CASH_OUT,181.00,C840083671,181.00,0.00,C38997010,21182.0,0.00,1,0
4,1,PAYMENT,11668.14,C2048537720,41554.00,29885.86,M1230701703,0.0,0.00,0,0
5,1,PAYMENT,7817.71,C90045638,53860.00,46042.29,M573487274,0.0,0.00,0,0
6,1,PAYMENT,7107.77,C154988899,183195.00,176087.23,M408069119,0.0,0.00,0,0
7,1,PAYMENT,7861.64,C1912850431,176087.23,168225.59,M633326333,0.0,0.00,0,0
8,1,PAYMENT,4024.36,C1265012928,2671.00,0.00,M1176932104,0.0,0.00,0,0
9,1,DEBIT,5337.77,C712410124,41720.00,36382.23,C195600860,41898.0,40348.79,0,0

In [7]:
df.sample(20)

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
1938838,177,PAYMENT,13685.38,C1270258479,16997.89,3312.51,M775335976,0.00,0.00,0,0
608394,34,CASH_IN,145796.84,C264125409,4099189.49,4244986.33,C715907650,4169394.70,4023597.86,0,0
2952504,230,CASH_IN,424809.47,C516150018,20190.00,444999.47,C1284316523,292433.85,0.00,0,0
104076,10,PAYMENT,17884.25,C1621093472,621569.53,603685.28,M69037874,0.00,0.00,0,0
775219,39,CASH_IN,79594.74,C124155351,1202071.86,1281666.60,C1625354460,1561518.82,1344243.99,0,0
130987,11,CASH_IN,23401.02,C381640040,20418.00,43819.02,C336461886,0.00,0.00,0,0
3971696,297,CASH_OUT,56925.14,C1943280890,127.00,0.00,C1787572862,0.00,56925.14,0,0
6069529,514,CASH_OUT,115869.89,C1084910430,0.00,0.00,C414236245,4250308.36,4366178.25,0,0
2197974,185,CASH_OUT,203222.24,C219974468,0.00,0.00,C979955005,645442.78,848665.01,0,0
3991908,298,CASH_OUT,272032.82,C845126235,284446.08,12413.26,C2037417561,272990.79,545023.61,0,0
635958,35,TRANSFER,2856680.13,C113583058,426.00,0.00,C1967634061,2967696.65,5934281.29,0,0
2272325,187,CASH_IN,43649.36,C1387306773,41046.00,84695.36,C685263725,410352.95,366703.59,0,0
3557785,260,PAYMENT,14238.09,C750682192,213994.00,199755.91,M1089669979,0.00,0.00,0,0
4469792,324,CASH_OUT,119027.58,C107280266,0.00,0.00,C1544145730,373976.90,493004.48,0,0
2790627,215,PAYMENT,45425.68,C1109710526,104052.19,58626.51,M2004498937,0.00,0.00,0,0
2373199,191,PAYMENT,1152.83,C801532836,115.00,0.00,M195235149,0.00,0.00,0,0
66788,9,PAYMENT,18472.94,C1779426214,0.00,0.00,M164868024,0.00,0.00,0,0
5260183,372,PAYMENT,18666.00,C2031615337,9053.00,0.00,M659183847,0.00,0.00,0,0
337111,16,CASH_OUT,37539.23,C1874467104,0.00,0.00,C41333701,250748.24,0.00,0,0
3889843,284,CASH_OUT,27211.43,C1595869632,26465.96,0.00,C2021765761,926225.27,953436.70,0,0

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6362620 entries, 0 to 6362619
Data columns (total 11 columns):
 #   Column          Dtype
---  ------          -----
 0   step            int64
 1   type            object
 2   amount          float64
 3   nameOrig        object
 4   oldbalanceOrg   float64
 5   newbalanceOrig  float64
 6   nameDest        object
 7   oldbalanceDest  float64
 8   newbalanceDest  float64
 9   isFraud         int64
 10  isFlaggedFraud  int64
dtypes: float64(5), int64(3), object(3)
memory usage: 534.0+ MB

In [5]:
# from pandas_profiling import ProfileReport
# prof=ProfileReport(df)
# prof.to_file(output_file='ouput.html')